<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>

               
                <% if (prods.length> 0) { %>
                    <div class="card-container">
                        <% for (let product of prods) { %>
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="product-info">
                                    <div class="product-title">
                                        <%= product.title %>
                                    </div>
                                    <div class="product-price">$<%= product.price %>
                                    </div>
                                    <div class="product-description">$<%= product.description %>
                                    </div>
                                    <div class="product-buttons">
                                        <a href="/products/<%= product.id %>" class="view-details">Details</a>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    </div>

                                </div>
                            </div>
                            <%}%>
                    </div>

                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>


            </main>
            <%- include('../includes/end.ejs') %>

